@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap|Staatliches");


body{
    background-color:black;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-image: url('imgs/slide1.png');
    transition: background-image 1s ease-in-out;
   
}
h1{
    margin: 5px;
}

.container
{
    font-size: 40px;
    font-family:'Staatliches';
    width: 1000px;
    line-height: 2em;
    color: white;
    margin-left: 20px;
    padding: 10px;
    position: relative;
  
}

.container h1{
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}


.desc
{
    line-height: 1.2em;
    font-size: 23px;
    font-family: 'Poppins';


}
.contact
{
    text-decoration: none;
    display: inline-block;
    padding: 15px ;
    margin-top: 30px;
    background-color: rgb(140, 190, 70);
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
    
}


.navbar
{
   width: 100%;
   height: auto;
   background: linear-gradient(to bottom, rgb(6, 6, 6) 0%, rgba(0,0,0,0) 100%);

    color: white;
    display: flex;
    /**spacing issue**/
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 0px;
   
}
.navbar > ul > li
{
    display: inline-block;
    margin-right: 20 px;
    align-items: center;
    
}

.special-item
{
    padding: 18px ;
    background-color: rgb(140, 190, 70);
    border-radius: 5px;
    margin-right: 50px;
    font-family: 'Poppins';
   
}


.navbar .special-item a{
    color: white;
    text-decoration: none;
}

.navbar .special-item:hover
{
    background-color: rgb(105, 146, 49);
     
}
.logo
{
    float: left;
    padding: 15px;
    margin: 20px;

    
}

.clearfix
{
    clear: both;
}

/* businesses*/
.dropdown
{   
    padding-right: 50px;
    overflow: hidden;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */

}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
  }

  .dropdown-content a {
    float: none;
    color: white;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
    
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover 
  {
    color: black;
    background-color: #ddd;
    
  }
  
html
{
    font-family: "Poppins";
};