{% extends 'accounts/main.html'%}
{% block content%}  
{%load static%}

<div class="card text-center m-5">
    <div class="card-header">
      Delete User
    </div>
    <div class="card-body">
      <h5 class="card-title">Are you sure you want to delete "{{item}}"?</h5>
      <form action="{% url 'deleteuser' item.employeeID %}" method="POST">
        {%csrf_token%}
        <a class=" btn btn-light "href="{%url 'dash'%}">Cancel</a>
        <input class="btn btn-success" type="submit" name="Confirm" id="">
    </form>
    
  </div>


{% endblock %}